<h1>Listing questions</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.content %></td>
    <td><%= question.startdate %></td>
    <td><%= question.enddate %></td>
    <td><%= link_to 'Show', course_question_path(@course, question)%></td>
    <td><%= link_to 'Edit', edit_course_question_path(@course,question) %></td>
    <td><%= link_to 'Destroy', course_question_path(@course,question), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_course_question_path(@course) %>
