<%= javascript_include_tag "jcountdown" %>
<script src='http://www.google.com/jsapi'></script>
<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p id="startdate">
<b>Start:</b>
<%= l @question.startdate, :format => :long %>
</pv>

<p id="enddate">
<b>End:</b>
<%= l @question.enddate, :format => :long %>
  </p>
  <% if @question.open? and can? :update, UserAnswer %>
    <%= render :partial => "submit_answers" %>
  <% end %>

  <div id="question_partial">
    <% if @question.open? %>
      <%= render :partial => "open_question" %>
    <% elsif  can? :update, @question%>
      <%= render :partial => "closed_question" %>
    <% end %>
  </div>

<%= link_to 'Edit', edit_course_question_path(@question.course, @question) %> |
<%= link_to 'Back', course_path(@question.course) %>
<hr>
<% if can? :view_stats, @question %>
<h2>Response Stats</h2>
<% @question.answers.each do |answer| %>
  <%= answer.content %>: <%=answer.users.size %>
  <br />
<% end %>
<div id='chart'></div>
<%= render_chart @chart, 'chart' %>
<hr>
<h2>Correct Users</h2>
<% @question.correct_users.each do |user| %>
  <%=user.email %>
<% end %>
<h2>Incorrect Users</h2>
<% (@question.answered_users-@question.correct_users).each do |user| %>
  <%=user.email %>
<% end %>
<% end %>
