<%= javascript_include_tag "jcountdown" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>
<% if current_user.teacher?%>
  <p id="startdate">
  <b>Start:</b>
  <%= l @question.startdate, :format => :long %>
  </p>

  <p id="enddate">
  <b>End:</b>
  <%= l @question.enddate, :format => :long %>
  </p>
<% end %>
  <% if @question.open? and can? :update, UserAnswer %>
    <%= render :partial => "submit_answers" %>
  <% else %>
    <%= render :partial => "submitted_answers" %>
  <% end %>

  <div id="question_partial">
    <% if @question.open? %>
      <%= render :partial => "open_question" %>
    <% elsif  can? :update, @question%>
      <%= render :partial => "closed_question" %>
    <% end %>
  </div>
  <% if can? :update, @question %>
    <%= link_to 'Edit', edit_course_question_path(@question.course, @question) %> |
  <% end %>
<%= link_to 'Back', course_path(@question.course) %>
<hr>
<% if can? :view_stats, @question %>
<h2 id="stats">Response Stats</h2>
<br />
<%= chart_tag(@question.course,@question,400,:id=>@question.id)%>
<hr>
<h2>Correct Users</h2>
<% @question.correct_users.each do |user| %>
  <%=user.email %>
<% end %>
<h2>Incorrect Users</h2>
<% (@question.answered_users-@question.correct_users).each do |user| %>
  <%=user.email %>
<% end %>
<% end %>
