<%= javascript_include_tag "jcountdown" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p id="startdate">
<b>Startdate:</b>
  <%= @question.startdate %>
</pv>

<p id="enddate">
<b>Enddate:</b>
  <%= @question.enddate %>
  </p>
  <% if @question.open? %>
    <%= render :partial => "submit_answers" %>
  <% end %>

  <div id="question_partial">
    <% if @question.open? %>
      <%= render :partial => "open_question" %>
    <% else %>
      <%= render :partial => "closed_question" %>
    <% end %>
  </div>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
