<h1>Listing courses</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= link_to course.name, course %></td>
    <% if can? :update, course %>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  <% end%>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Course %>
  <%= link_to 'New Course', new_course_path %>
<%end %>
