<p id="notice"><%= notice %></p>

<p>
<h1><%= @course.name %></h1>
  <h3> Open Questions </h3>
  <% @open_questions.each do |question| %>
    <%= link_to question.content, course_question_path(@course,question) %><br />
  <% end %>

  <h3> Closed Questions </h3>
  <% @closed_questions.each do |question| %>
    <%= link_to question.content, course_question_path(@course,question) %><br />
  <% end %>
  <% if can? :create, Question %>
    <%= link_to "New Question",new_course_question_path(@course) %><br /><br />
  <% end %>

  <%if can? :update, @course %>
    <%= link_to 'Edit', edit_course_path(@course) %> |
  <%end %>
  <br />
<%= link_to 'Back', courses_path %>
